.container{
    position:relative;
}
.container:hover{
    transform:scale(1.02);
    font-weight:bold;
}

h1 {
    text-align : center;
    padding : 30px;
    background-color: #A8D1D1;
}

a {
    color: white;
}

a> img{
    width:700px;
    height:auto;
}

.rankings{
    padding: 20px;
    margin-bottom: 16px;
    background-color: #FD8ABA;
}

.song-title{
    position: absolute;
    width:700px;
    bottom:5px;
    padding:16px;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
}